header {
    background-image: url(Img/pokeball.gif);
    background-size: 100%;
    text-align: center;
    width: 100%;
    animation-duration: 2s;
    animation-name: slidein;
}

header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    animation-duration: 4s;
    animation-name: animation;
    animation-direction: alternate;
}


@keyframes animation {
    from {
        margin-top: 8%;
        width: 100%;
        margin-bottom: 8%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes slidein {
    from {
        margin-left: 30%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
@keyframes animacionTipo {
    0% {
      transform: scale(1); /* Comienza con el tamaño original */
    }
    50% {
      transform: scale(1.2); /* Se agranda un 20% */
    }
    100% {
      transform: scale(0.9); /* Vuelve al tamaño original */
    }
}
@keyframes animacionMarcado {
    0% {
        transform: scale(0.9);
    }
}

#Tipos_Pokemons {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-auto-rows: auto;
    gap: 30px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #323232;
}

.tipo{
    position: relative;
    display: flex;
    border-radius: 2%;
    width: 100%;
    background-color:#323232;
    flex-direction: row;
    justify-content: center;
    animation-name: animation;
    animation-duration: 1s;
}

.tipo>img {
    position: absolute;
    height: 100%;
    width: 100%;
    align-self: center;
}

.tipo :hover{
    animation: animacionTipo 2s infinite;
}

a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    animation-duration: 4s;
    animation-name: animation;
    animation-direction: alternate;
    color: black;
    text-decoration: none;
}